@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .container-style {
    @apply mx-[20px] mt-[30px];
  }
  .text-color-white {
    @apply text-[#fff];
  }
  .text-color-black {
    @apply text-[#000];
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
